{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>
    <header>
        <h1>Chemistry Lab Management System</h1>
    </header>
    <div>
        <form action="" method="post">
            <h2>Login</h2>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>